<!DOCTYPE html>
<html>
<body>

<h2></h2>

<form action="/getdoctor" method="post">
  <label for="fname" >Name:</label><br>
  <input type="text"  name="name" ><br>
  <label for="lname">Email:</label><br>
  <input type="text"  name="email"><br><br>
  <input  href="/studybot" type="submit" value="Submit">
</form> 

<p>Note-- enter a doctor name and email of desired one </p>

</body>
</html>

